Repository Darshanshivashankar/verity-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildenv-docker-build, java-publish, python-publish, nodejs-publish

buildenv-docker-build:
  tags:
  - docker-machine
  - micro
  stage: docker-images
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - install -Dv /dev/null /kaniko/.docker/config.json
  ...

java-publish:
  before_script:
  - cd sdk/java-sdk/
  - mvn versions:set -DnewVersion=$DEV_VERSION
  stage: publish
  image: $CI_REGISTRY_IMAGE/buildenv:$CI_COMMIT_REF_NAME
  tags:
  - docker-machine
  - micro
  script:
  - mvn --errors deploy --settings ./settings.xml -DskipTests
  dependencies:
  - java-package
  when: on_success

python-publish:
  before_script:
  - cd sdk/python-sdk/
  - echo "VERSION = '$DEV_VERSION'" > verity_sdk/version.py
  stage: publish
  image: $CI_REGISTRY_IMAGE/buildenv:$CI_COMMIT_REF_NAME
  tags:
  - docker-machine
  - micro
  script:
  - cd sdk/python-sdk/
  - make upload
  dependencies:
  - python-package

nodejs-publish:
  before_script:
  - cd sdk/nodejs-sdk/
  - npm version --no-git-tag-version $DEV_VERSION
  stage: publish
  image: $CI_REGISTRY_IMAGE/buildenv:$CI_COMMIT_REF_NAME
  tags:
  - docker-machine
  - micro
  script:
  - npm run package
  - npm run publish

make release cicd jobs manual
  .gitlab-ci.yml
  sdk/java-sdk/pom.xml
Due: java-publish

small tweaks
  .gitlab-ci.yml
  devops/dockerfiles/buildenv.dockerfile
Due: buildenv-docker-build

debug cicd
  .gitlab-ci.yml
Due: none

npm did not like the dev version format (switch to -)
  .gitlab-ci.yml
Due: none

fixed
  .gitlab-ci.yml
Due: none

debug
  .gitlab-ci.yml
Due: none

Path conditions:
  buildenv-docker-build: any of: devops/dockerfiles/buildenv.dockerfile
  java-publish: any of: sdk/java-sdk/**/*
  python-publish: any of: sdk/python-sdk/**/*
  nodejs-publish: any of: sdk/nodejs-sdk/**/*
